.edu {
    padding : 1rem;
    background-color: rgb(255, 255, 255);
    width: 178rem;
    margin: 1rem auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0 , 0.25);
}
.title{
    color:rgb(3, 0, 34);
    font-size: 35px;
    padding : 1rem;
    text-align: center;
}